body {
  background-color: #F5F0E1;
}
main {
  padding: 16px 32px;
}
img {
  max-width: 100px
}
h2 {
  margin: 0;
  color: #1E3D59;
}
p {
  color: #1E3D59;
}
.first {
  color: #FF6E40;
}
.second {
  color: #1E3D59;
}
.tertiary {
  color: #FFC13B;
}
